.ac-content {
  display: flex;
  padding-left: 10%;
  justify-content: flex-start;
  padding-bottom: 30px;
  .menu {
    display: flex;
    flex-direction: column;
    a {
      color: rgb(252, 181, 0);
      text-decoration: none;
      width: 200px;
      background-color: rgb(81, 81, 81);
      text-indent: 15px;
      height: 50px;
      display: flex;
      align-items: center;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        color: white;
        background-color: rgb(233, 146, 15);
      }
    }
  }

  .form {
    margin-left: 200px;
    background-color: rgb(99, 91, 91);
    padding: 30px;
    border-radius: 25px;
    input {
      background-color: rgba(245, 222, 179, 0);
      border: 3px solid white;
      width: 500px;
      height: 30px;
    }
    button {
      background-color: rgb(228, 128, 5);
      color: white;
      margin-top: 10px;
      height: 40px;
      font-weight: bold;
      border-radius: 25px;
      border: none;
      width: 300px;
      font-size: 1.25rem;
    }
  }
}
